[package]
name = "analyzer"
version = "0.1.0"
edition = "2024"

[dependencies]
candle-core = {version = "0.9.2-alpha.2"}
candle-nn = {version = "0.9.2-alpha.2"}
candle-transformers = {version = "0.9.2-alpha.2"}